<div class = "main">
  <p class="photo">
    <img src="" width="500" height="500" alt />
  </p>
  <p class="player">
    <span id="playtoggle"></span>
    <span id="gutter">
      <span id="loading"></span>
      <span id="handle" class="ui-slider-handle"></span>
    </span>
    <span id="timer">--</span>
  </p>
  <p class="details"></p>
  <div class="clear"></div>
</div>
