<html>
  <head>
    <title><%= title %></title>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/lib/jquery/dist/jquery.js"></script>
    <script src="/js/lib/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/js/lib/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/js/lib/jquery-ui/ui/jquery.ui.mouse.js"></script>
    <script src="/js/lib/jquery-ui/ui/jquery.ui.slider.js"></script>
    <script src="/js/player.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
